@model EmbrOnlineStore.Models.ShopModel
<div class="row" style="width:100%;" id="itemCatalog">
    @{
        foreach (var item in Model.itemCatalog)
        {
            <div class="col-sm-6 col-md-4 @item.category">
                <div class="thumbnail" id="item_@item.itemID">
                    <img src="@item.imageURL" alt="@item.name">
                    <div class="caption">
                        <h3>@item.name</h3>
                        <p>@item.description <p>
                        <p><b>$@item.sellingPrice</b></p>
                        <p>

                            <div class="input-group">
                                <input type="number" class="form-control" id="quantity_@item.itemID" value="1">
                                <span class="input-group-btn ">
                                    <button class="btn btn-primary" onclick="AddToCart(@item.itemID);" type="button">Add to Cart</button>
                                </span>
                            </div><!-- /input-group -->
                        </p>
                    </div>
                </div>
            </div>
        }
    }

</div>

<script> function AddToCart(itemID) {
     var qty = $("#quantity_" + itemID + "").val();
     //alert(qty + " of " + itemID);
     var uri = encodeURI('@Url.Action("AddItemToCart", "Home")');

     $.ajax({
         url: uri,
         type: "POST",
         cache: false,
         data: "{'itemId':'" + itemID + "', 'quantity' : '" + qty + "'}",
         contentType: "application/json",
         error: function ( /*jqXHR*/ jqXHR, /*string*/ textStatus, /*string*/ errorThrown) {
             alert(errorThrown);
         },
         complete: function ( /*jqXHR*/ jqXHR, /*string*/ textStatus) {
             $("#shopping_cart_min").html(' <img src="/Content/Images/ajax-loader.gif" style="align-content:center;" />');

             $("#shopping_cart_min").load('@Url.Action("LoadShoppingCartMinimalView", "Home")')
         }

     });


 };</script>