@*/*******************************************************************************************************
    * SIT782 - PRACTICAL PROJECT T1 2017
    *
    * GROUP 13:
    *           1. REBECCA FRITH (ID: 213582268)
    *           2. ERIC GRIGSON (ID: 212415996)
    *           3. BENJAMIN FRIEBE (ID: 217109315)
    *
    * ------------------------------------------------------------------------------------------------------
    * FILE NAME:        _CheckOutView.cshtml
    * FILE DESCRIPTION: Partial view for facilitating a check out process for the customer. Contains all
    *                   form elements required to populate and process an order.
    ********************************************************************************************************/*@
    
@model EmbrOnlineStore.Models.ShopModel
@*Box shadow for minimal cart adapted from https://paulund.co.uk/learn-css-box-shadow*@
<style>
  .box {
        width: 70%;
        
        background: #FFF;
        margin: 40px auto;
    }

    .effect8 {
        position: relative;
        border-radius: 25px;
        padding:10px;

        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

        .effect8:before, .effect8:after {
            content: "";
            position: absolute;
            z-index: -1;
            box-shadow: 0 0 20px rgba(0,0,0,0.8);
            top: 10px;
            bottom: 10px;
            left: 0;
            right: 0;
            border-radius: 100px / 10px;
        }

        .effect8:after {
            right: 10px;
            left: auto;
            transform: skew(8deg) rotate(3deg);
        }
        div.shopping {
  
}
 
ul.shopping {
  list-style-type: none;
  width: 500px;
}
 
h3.shopping {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li img.shopping {
  float: left;
  margin: 0 15px 0 0;
}
 
li p.shopping {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li.shopping {
  padding: 0px;
  overflow: auto;
}
 
li:hover.shopping {
  background: #eee;
  cursor: pointer;
}
</style>
@*Start check out form*@
<div id="checkout_container" style="width:90vw; display: flex; ">
    <div id="checkout_form" style="float:left; height:100%; width:60%;align-items: stretch; padding:10px;">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger" id="error"><span class="glyphicon glyphicon-alert"></span><strong> Error! Please check the inputs. (If form error!)</strong></div>
                    <div class="alert alert-info"><span class="glyphicon glyphicon-alert"></span><strong> Fields with a * indicate mandatory fields.</strong></div>

                </div>
            </div>
            <h4>Customer Information</h4>
            <div class="input-group">
                <label for="form_firstname">First Name<span style="color:red;">*</span></label>
                <input type="text" class="form-control required" id="form_firstname" />
            </div>
            <div class="input-group">
                <label for="form_lastname">Last Name<span style="color:red;">*</span></label>
                <input type="text" class="form-control required" id="form_lastname" />
            </div>
            <div class="input-group">
                <label for="form_email">Email Address <span style="color:red;">*</span></label>
                <input type="text" class="form-control required" id="form_email" />
            </div>



            <div class="input-group">
                <label for="form_phone">Phone Number <span style="color:red;">*</span></label>
                <input type="text" class="form-control required" id="form_phone" />
            </div>
        </div>

        @*Shipping Address*@
        <h4 style="font-weight:normal">Shipping Address</h4>
        <div class="input-group">
            <label class="control-label" for="shipping_addr1">Street Address<span style="color:red;">*</span></label>

            <input id="shipping_addr1" name="address-line1" type="text"
                   class="input-xlarge form-control required" />
        </div>
        <div class="input-group">
            <label class="control-label" for="shipping_city">City<span style="color:red;">*</span></label>

            <input id="shipping_city" name="address-line1" type="text"
                   class="input-xlarge form-control required" />
        </div>
        <div class="input-group">
            <label class="control-label" for="shipping_postcode">Postcode<span style="color:red;">*</span></label>

            <input id="shipping_postcode" name="address-line1" type="text"
                   class="input-xlarge form-control required" />
        </div>
        <div class="input-group">
            <label class="control-label" for="shipping_state">State / Territory<span style="color:red;">*</span></label>

            <select id="shipping_state" class="form-control required">
                <option>ACT</option>
                <option>NSW</option>
                <option>NT</option>
                <option>QLD</option>
                <option>SA</option>
                <option>TAS</option>
                <option>VIC</option>
                <option>WA</option>
            </select>
        </div>
        @*Billing Information*@
        <h4 style="font-weight:normal">Billing Details</h4>
        <div class="input-group">
            <input id="billing_addr_flag" name="address-line1" type="checkbox"
                   class="" /><label style="font-weight:normal;" for="billing_addr_flag">Billing Address is same as shipping</label>


        </div>
        <div id="billing_addr">

            <h4 style="font-weight:normal">Billing Address</h4>
            <div class="input-group">
                <label class="control-label" for="billing_addr1">Street Address<span style="color:red;">*</span></label>

                <input id="billing_addr1" name="address-line1" type="text"
                       class="input-xlarge form-control required" />
            </div>
            <div class="input-group">
                <label class="control-label" for="billing_city">City<span style="color:red;">*</span></label>

                <input id="billing_city" name="address-line1" type="text"
                       class="input-xlarge form-control required" />
            </div>
            <div class="input-group">
                <label class="control-label" for="billing_postcode">Postcode<span style="color:red;">*</span></label>

                <input id="billing_postcode" name="address-line1" type="text"
                       class="input-xlarge form-control required" />
            </div>
            <div class="input-group">
                <label class="control-label" for="billing_state">State / Territory<span style="color:red;">*</span></label>

                <select id="billing_state" class="form-control required">
                    <option>ACT</option>
                    <option>NSW</option>
                    <option>NT</option>
                    <option>QLD</option>
                    <option>SA</option>
                    <option>TAS</option>
                    <option>VIC</option>
                    <option>WA</option>
                </select>
            </div>
        </div>
        @*Billing method*@
        <h4>Billing Method</h4>
        <label class="radio-inline"><input type="radio" id="paypal" name="payradio" checked="checked">Paypal</label>
        <label class="radio-inline"><input type="radio" id="credit_card" name="payradio">Credit Card</label>

        <br />
        @*Cart totals and checkout buttons*@
        <div style="width:80%;">
            <span style="float:right; margin-bottom:5px;"><b> Your Total is: $ @EmbrOnlineStore.Controllers.Utilities.CheckoutFacilitator.GetCartTotal(Model.shoppingCart)</b></span>
            <br /><div>
                <span class="input-group-btn " style="float:left;">
                    <button class="btn btn-default" onclick="Back()" type="button">Back</button>
                </span>
                <span class="input-group-btn " style="float:right;">
                    <button class="btn btn-primary" onclick="SubmitOrder()" type="button">Submit Order</button>
                </span>
            </div>
        </div>
    </div>
    @*Mini shopping cart view*@
    <div id="checkout_shopping_cart" class="box effect8" style="float:right; background-color:white; margin-left:30px; padding-bottom:20px; top:0; height:30%; width:25%;">
        <h4>Shopping Cart</h4>

        <div class="shopping">
                @{ foreach (var cart in Model.shoppingCart)
                    {
                      
                            <span style="float:left;"> <img src="@cart.Key.imageURL" style="width:20px; height:20px;" />@cart.Key.name (@cart.Value)</span><span style="float:right; font-weight:bold;">$@(cart.Value*cart.Key.sellingPrice)</span>
                          <br /><br />
                            <p><i>@cart.Key.description</i></p>
                      <br />    

                    }
                }
         
        </div>
        <span style="float:right; font-weight:bold;">Total: $@EmbrOnlineStore.Controllers.Utilities.CheckoutFacilitator.GetCartTotal(Model.shoppingCart) AUD</span>
    </div>
</div>

@*Receipt view container*@
<div id="order_complete" style="width:70%; height:500px;">

</div>


<script>
    $(document).ready(function () {
        @*Initialise form*@
        $('#billing_addr_flag').prop('checked', true);
        $('#billing_addr').hide();
        $('#order_complete').hide();
        $('#error').hide();
        $('input#billing_addr_flag').change(
    function () {
        @*Toggle billing address info based on whether the shipping address is the same or not*@
        if ($(this).is(':checked')) {
            $('#billing_addr').hide();
        }
        else {
            $('#billing_addr').show();
        }
    });
    });
</script>

@* Navigation & Submission Scripts - back and submit order buttons*@
<script>

    function ValidateFields() {
        // add field validation here
    }
    @*Javascript to submit an order to server using HTTP put AJAX call*@
    function SubmitOrder() {

        ValidateFields();

        // customer fields
        var first_name = $("#form_firstname").val();
        var last_name = $("#form_lastname").val();
        var email_addr = $("#form_email").val();
        var phone = $("#form_phone").val();

        // shipping fields
        var shipping_addr1 = $("#shipping_addr1").val();
        var shipping_city = $("#shipping_city").val();
        var shipping_postcode = $("#shipping_postcode").val();
        var shipping_state = $("#shipping_state").val();
        // billing fields
        var billing_addr1 = shipping_addr1;
        var billing_city = shipping_city;
        var billing_postcode = shipping_postcode;
        var billing_state = shipping_state;

        // billing addr is different than shipping
        if (!$('#billing_addr_flag').is(':checked')) {
            billing_addr1 = $("#billing_addr1").val();
            billing_city = $("#billing_city").val();
            billing_postcode = $("#billing_postcode").val();
            billing_state = $("#billing_state").val();
        }

        var billing_method = $("input:radio[name='payradio']:checked").val();

        // create the order

        var uri = encodeURI('@Url.Action("CreateOrder", "Home")');

        $.ajax({
            url: uri,
            type: "POST",
            cache: false,
            data: "{'firstName':'" + first_name + "', 'lastName' : '" + last_name + "', 'email' : '" + email_addr + "', 'phone' : '" + phone + "', 'shippingStreet' : '" + shipping_addr1 + "', 'shippingCity' : '" + shipping_city +
                "', 'shippingPostcode' : '" + shipping_postcode + "', 'shippingState' : '" + shipping_state + "', 'billingStreet' : '" + billing_addr1 + "', 'billingCity' : '" + billing_city + "', 'billingPostcode' : '" + billing_postcode +
                "', 'billingState' : '" + billing_state + "', 'billingMethod' : '" + billing_method + "'}",
            contentType: "application/json",
            error: function ( /*jqXHR*/ jqXHR, /*string*/ textStatus, /*string*/ errorThrown) {
                alert(errorThrown);
            },
            complete: function ( /*jqXHR*/ jqXHR, /*string*/ textStatus) {

                $("#checkout_container").hide(); // hide form - checkout is complete!
                $("#order_complete").show(); // show receipt confirmation
                $("#order_complete").html(' <img src="/Content/Images/ajax-loader.gif" style="align-content:center;" />')
                $("#order_complete").load('@Url.Action("LoadOrderReceiptMinimal", "Home")')
                // reload shopping cart indicator
                $("#shopping_cart_min").html(' <img src="/Content/Images/ajax-loader.gif" style="align-content:center;" />')
                $("#shopping_cart_min").load('@Url.Action("LoadShoppingCartMinimalView", "Home")')

            }

        });
    }
    @*Go back to item catalog*@
    function Back() {
        $("#content_div").html(' <img src="/Content/Images/ajax-loader.gif" style="align-content:center;" />')
        $("#content_div").load('@Url.Action("LoadItemCatalogView", "Home")')
    }

</script>